<!DOCTYPE html>
<html lang="ko" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>메인</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="room-header">
			<h1 class="room-title">무슨무슨 방</h1>
		</div>
		<div class="todo-wrap detail" ng-controller="todoList">
			<h2 class="sub-title">TODO</h2>
			<ul>
				<li class="todo-list" ng-repeat="todoList in listData">
					<div class="todo-list-top" ng-click="status = !status">
						<h3>{{todoList.name}} </h3>
						<div class="todo-list-info clearfix">
							<span class="todo-list-host">
								만든이 : {{todoList.creator}}
							</span>
							<span class="todo-list-date">
								{{todoList.timeLimit}} 까지
							</span>
						</div>
					</div>
					<div ng-show="status"  class="todo-list-contents show-animate">
						{{todoList.contents}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script>
	
	</script>
</body>
</html>